/*Navbar*/
*{
  font-family: 'Cormorant Infant', serif;
}
.navbar{
  background-color: #002c57;
  height: 100px;
 
}
h1.nav-link{
  margin-top: -13;
}
a.nav-link{
 font-size:30px;
  margin-right: -100px;

}
.navbar .nav-link#conteudosnav{
  font-size: 35px;
  margin-top: -30px ;
  padding: 10px;
  margin-left: -100px;
}
.navbar .nav-link#sobrenav{
  font-size: 35px;
  margin-top: -30px;
  padding: 10px;
  margin-left: -300px;
}
.navbar .nav-item{
margin-right: 120px;
margin: bottom 12px;
margin-top: 2px;
}
.navbar #search{
  margin-top: -13px;

}
.navbar #title{
  margin-right: 10px;

}
.navbar a{
  padding: 14px 16px;
}
/*Navbar*/

/* Carorusel*/
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
height: 100vh;

}
.carousel-item.active#imagemtxt1{
 font-size: 100px; 
}
.carousel-item:nth-child(1) {
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;

}

.carousel-item:nth-child(2) {
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.carousel-item:nth-child(3) {
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
.carousel-caption{
bottom: 10.25rem!important;
text-size-adjust: 400px !important;
}
@media (min-width: 992px) {
#introCarousel {
  margin-top: -58.59px;
}
}

.navbar .nav-link {
color: #fff !important;

}
.navbar .nav-link #conteudos{
margin-top: 0px;
}

/* Footer */
body {
  background: #0061c31a;
  width: 100%;
position: sticky;
height: 100px;
}

.text-small {
  font-size: 0.9rem;
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
 
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #002c57;
  color:whitesmoke ;
}
footer #lorem{
  margin-left: 350px;
  margin-top: 20px;
}
body, html {
    height: 100%;
  }

  #lorem{
    margin-left: 500px;
  }

/* PHP e SQL (Conteúdos) */
#explicacao{
padding: 40px;
margin: 10px;
margin-top: 30px;
margin-left: 30px;
font-size: 30px;
}
#exemplos{
  padding: 40px;
  margin: 10px;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
}
/* PHP e SQL (Conteúdos) */ 